/* Custom Styling */
html, body {
  font-family: Calibri, sans-serif;
}
nav {
  width: 100%;
  background-color: #2f3039;
  color: white;
  padding: 10px 2px;
}

nav a {
  color: white;
  text-transform: uppercase;
  margin: 10px;
  text-decoration: none;
  font-weight: bold;
  text-shadow: 1px gray;
}

nav a:hover {
  color: hotpink;
}

.footer {
  background-color: #2f3039;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 20px;
}

.foot-text{
  font-size: 9px;
}

.content {
  padding: 20px 0px;
}

.btn {
  background-color: #333333;
  color: white;
  margin-top: 10px;
  font-size: 16px;
  padding: 8px 16px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.error{
  background-color: pink;
  color: red;
  border: 1px solid red;
  border-radius: 5px;
  padding: 10px 30px;
  width: 75%;
}

.no-flash{
  visibility: hidden;
  padding: 10px 30px;
  width: 75%;
}

/************************/
/* Default Styles Below */
/************************/
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
